#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Python Programming Tutorials
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=jdebomppmhhgkbppcepdjhcbakmeeign
Icon=chrome-jdebomppmhhgkbppcepdjhcbakmeeign-Default
StartupWMClass=crx_jdebomppmhhgkbppcepdjhcbakmeeign
Name[en_US]=How to make opencv workspace
